<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">

  {{#if customer}}

    <div class="cci_wrap" style="display:none;">
      <div class="category_customer_info">

        <div class="cci_item">
        <i class="fas fa-user-circle"></i>
        {{customer.name}}
        </div>

        <div class="cci_item">
        <i class="fas fa-at"></i>
        {{customer.email}}
        </div>

        <div class="cci_item">
        <i class="fas fa-mobile-alt"></i>
        {{customer.phone}}
        </div>

      </div><!-- end .category_custom_info -->
    </div><!-- end cci_wrap -->

    {{/if}}

    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
